// Color presets for color families
// used as the palette for the website

// Greens
$color_forestGreen: #0b6623;
$color_oliveGreen: #708238;
$color_hunterGreen: #3f704d;
$color_artichokeGreen: #8f9779;
$color_jungleGreen: #29AB87;
$color_mossGreen: #8A9A5B;
$color_pineGreen: #01796F;
$color_persianGreen: #00A572;
$color_teaGreen: #D0F0C0;
$color_seaGreen: #2E8B57;
