@import 'colors'; // Color presets, not color assignations [color_xxxYyyy]

// Color assignations [clrXxx]
$clrText: #111;
$clrLink: $color_seaGreen;
$clrBackground: $color_teaGreen + #444;

body {
  background-color: $clrBackground;
  color: $clrText;
  font-size: 1.1em;
  position: relative;
}

a:link, a:visited {
  color: $clrLink;
}

a:hover {
  text-decoration: none;
  color: $clrLink - #222;
}

a:active {
  font-weight: bolder;
  color: $clrLink -#222;
}

header p.subtitle {
  font-weight: lighter;
  font-size: 2em;
  padding-bottom: none;
}

.twitter {
  color: #38A1F3;
}

.facebook {
  color: #4267b2;
}

.instagram {
  color: #231F20;
}

.youtube {
  color: #ED3833;
}

header {
  background-color: $color_pineGreen;
  color: #EEE;
  text-align: center;
  padding-bottom: 1em;
}

footer {
  background-color: $color_pineGreen - #222;
  color: white;
  text-align: center;
  padding-top: 0px;
  position: absolute;
  height: 7em;
  bottom: 0;
  font-size: 0.8em;
  
  a:link, a:visited, a:hover, a:active {
    color: #DDD;
    text-decoration: none;
  }
}

.navbar {
  margin-top: 0;
  margin-bottom: 1em;
  background-color: $color_persianGreen;
  color: white;
  
  a:link, a:visited {
    color: $color_jungleGreen * 3;
  }
}

#social {
  background-color: white;
  color: $color_pineGreen - #221111;
  padding: 0.1em;
  font-size: 1em;
}

#body {
  padding-bottom: 7em;
}